$primary : #202932;
$secondary : #DBA008;

.bg-pmy{
    background-color: $primary;
}
.bg-scy{
    background-color: $secondary;
}

.text-pmy{
    color: $primary;
}

.text-scy{
    color: $secondary;
}